[project]
	description = Animatronics, Halloween, Holiday Lights Controller Software
[access "refs/*"]
	owner = group user/Hakan (HakanL)
[access "refs/for/refs/*"]
	read = group user/Hakan (HakanL)
	push = group user/Hakan (HakanL)
	label-Code-Review = -2..+2 group user/Hakan (HakanL)
	label-Verified = -1..+1 group user/Hakan (HakanL)
	rebase = group user/Hakan (HakanL)
	removeReviewer = group user/Hakan (HakanL)
	submit = group user/Hakan (HakanL)
[access "refs/heads/*"]
	read = group user/Hakan (HakanL)
	create = group user/Hakan (HakanL)
	push = +force group user/Hakan (HakanL)
	pushMerge = group user/Hakan (HakanL)
[access "refs/tags/*"]
	push = +force group user/Hakan (HakanL)
	pushTag = group user/Hakan (HakanL)
	pushSignedTag = group user/Hakan (HakanL)
