<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Animatroller.SceneRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="false">
      <target name="file" xsi:type="File" fileName="Animatroller.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger} [${ndc}] ${message}" />
      <target name="debugger" xsi:type="Debugger" layout="${time} ${uppercase:${level}} ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${time} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="debugger,console,file" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Animatroller.SceneRunner.Properties.Settings>
      <setting name="IOExpanderPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="NetworkAudioPlayerIP" serializeAs="String">
        <!--<value>127.0.0.1</value>-->
        <value>192.168.240.121</value>
      </setting>
      <setting name="NetworkAudioPlayerPort" serializeAs="String">
        <value>10009</value>
      </setting>
      <setting name="DMXProPort" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="OSCServerPort" serializeAs="String">
        <value>3333</value>
      </setting>
    </Animatroller.SceneRunner.Properties.Settings>
  </applicationSettings>
</configuration>
