<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Animatroller.SceneRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Animatroller.SceneRunner.Properties.Settings>
      <setting name="IOExpanderPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="NetworkAudioPlayerIP" serializeAs="String">
        <!--<value>192.168.240.160</value>-->
        <value>127.0.0.1</value>
      </setting>
      <setting name="NetworkAudioPlayerPort" serializeAs="String">
        <value>10009</value>
      </setting>
      <setting name="DMXProPort" serializeAs="String">
        <value>COM4</value>
      </setting>
    </Animatroller.SceneRunner.Properties.Settings>
  </applicationSettings>
</configuration>
