<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryRage" version="1.4.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net45" />
  <package id="Rug.Osc" version="1.2.5" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Sanford.MidiToolkit" version="5.0.2" targetFramework="net40" />
</packages>