<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target name="file" xsi:type="File" fileName="logs/MonoExpander.log" layout="${longdate} ${pad:padding=3:inner=${event-context:item=threadid}}&gt;${pad:padding=-5:inner=${level:uppercase=true}} ${logger}:${event-context:item=ndc} ${message}${onexception:inner=${newline}${exception:format=tostring}}" concurrentWrites="true" keepFileOpen="true"/>
      <target name="debugger" xsi:type="Debugger" layout="${time} ${pad:padding=3:inner=${event-context:item=threadid}}&gt;${pad:padding=-5:inner=${level:uppercase=true}} ${logger}:${event-context:item=ndc} ${message}${onexception:inner=${newline}${exception:format=tostring}}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${time} ${pad:padding=3:inner=${event-context:item=threadid}}&gt;${pad:padding=-5:inner=${level:uppercase=true}} ${logger}:${event-context:item=ndc} ${message}${onexception:inner=${newline}${exception:format=tostring}}"/>
    </targets>
    <rules>
      <logger name="*" writeTo="file"/>
      <logger name="*" writeTo="debugger, console"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
